.App {
  text-align: center;
}
.body-container::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.header {
  background-color: lightblue;
}
/* html {
  height: 100%;
  width: 100%;
  scroll-padding-top: 55px;
} */
.body-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  scroll-snap-type: y mandatory;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hands {
  -webkit-animation: rotate-20-cw 2s infinite;
}
@-webkit-keyframes rotate-20-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes rotate-20-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
#Projects {
  flex-direction: row;
  height: 100%;
}

.footer {
  height: auto;
}
