.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.header {
  background-color: lightblue;
  margin-left: px;
  height: 30px;
}
html {
  scroll-padding-top: 55px;
}
.body {
  width: auto;
  height: auto;
  position: relative;
  background-color: lightblue;
  background-size: 100% 100%;
}

.footer {
  height: auto;
  background-size: 100% 100%;
}
